ul {
  list-style-type: none;
}

li {
  font-family: cursive;
}

.done {
  text-decoration: line-through;
}

#liDone {
  width: fit-content;
}

.removeLi {
  margin-top: 10px;
  /* text-align: right; */
}
